<header id="header">
    <div id="header-outer" class="outer">
        <div id="header-inner" class="inner">
            <a id="main-nav-toggle" class="nav-icon" href="javascript:;"></a>
            <a id="logo" class="logo-text" href="{{ .Site.Home.Permalink }}">{{ .Site.Title }}</a>
            <nav id="main-nav">
                {{ range .Site.Menus.main }}
                <a class="main-nav-link" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
                <a class="main-nav-link" id="search" >
                  <input id="inputSearch" placeholder="search">
                  <svg t="1634282825021" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2401" width="15" height="15"><path d="M1005.312 914.752l-198.528-198.464A448 448 0 1 0 0 448a448 448 0 0 0 716.288 358.784l198.4 198.4a64 64 0 1 0 90.624-90.432zM448 767.936A320 320 0 1 1 448 128a320 320 0 0 1 0 640z" fill="#262626" p-id="2402"></path></svg></a>
      <!--                 <li class="menu&#45;item"> -->
      <!--   <a id="search&#45;btn" style="display: inline&#45;block;" href="javascript:void(0);"> -->
      <!--     <i class="iconfont"> -->
      <!--       搜索 -->
      <!--     </i> -->
      <!--   </a> -->
      <!-- </li> -->
            </nav>
            <nav id="sub-nav">
                <div id="search-form-wrap">
                </div>
            </nav>
        </div>
    </div>

    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">搜索结果</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body searchResults">
          </div>
        </div>
      </div>
    </div>
</header>
